header {
	
	width: 960px;
	margin: auto;
	/*color: white;*/
}

body {
background-image: url(../images/sayagata-400px.png);
font-size: 18px;
font-family: times;
}

p {
	font-family: arial;
	margin: auto;
}

.navbar {
	width: 100%;
	border-bottom: solid gray 3px;
	background-color: white;

}
#oscarl {
	display: inline-block;
	font-size: 34px;
	font-family: times;
	margin: 0px;
	padding:16px;
	background-color: #4aaaa5;
	color:white;
}

.navmenu {
	/*display: inline-block;*/
	float:right;
	/*margin-right:100px;
	margin-right: 17px;*/
	margin: 0px;
	margin-top: 25px;
	margin-right: 40px
}

#navchildren {
	/*margin-right: 170px;
	margin-top: 20px;*/
	font-family: sans-serif;: 
}


/*#aboutbox,*/
#profilepic {
	float: left;
	height: 200px;
	width: 200px;
	margin-right: 10px;
	margin-left: 10px;
}


a:hover {
    background-color: #29d68a;
    font-size: 150%;
    color: white;

}

#header2:hover {
    background-color: #0d82df;
    font-size: 170%;
    color: white;
   	padding-left: -37px;

}

#oscarl:hover {
	/*background-image: url(../images/profile_1.png);*/
    font-size: 210%;
    color: #fd0;
}

button:hover {
    font-size: 180%;
}

button {
    background: #4aaaa5;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
    from {background-color: #4aaaa5;}
    to {background-color: blue;}
}

@keyframes mymove {
    from {background-color: #4aaaa5;}
    to {background-color: blue;}
}




#oscarl {
    background-repeat: no-repeat;
    background-position: left top;
    /*padding-top:95px;
    margin-bottom:60px;*/
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
         
@-webkit-keyframes wobble { 
     0% { -webkit-transform: translateX(0%); } 
     15% { -webkit-transform: translateX(-25%) rotate(-5deg); } 
     30% { -webkit-transform: translateX(20%) rotate(3deg); } 
     45% { -webkit-transform: translateX(-15%) rotate(-3deg); } 
     60% { -webkit-transform: translateX(10%) rotate(2deg); } 
     75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
     100% { -webkit-transform: translateX(0%); } 
}
         
@keyframes wobble { 
     0% { transform: translateX(0%); } 
     15% { transform: translateX(-25%) rotate(-5deg); } 
     30% { transform: translateX(20%) rotate(3deg); } 
     45% { transform: translateX(-15%) rotate(-3deg); } 
     60% { transform: translateX(10%) rotate(2deg); } 
     5% { transform: translateX(-5%) rotate(-1deg); } 
     100% { transform: translateX(0%); } 
}
         
#oscarl { 
            -webkit-animation-name: wobble; 
            animation-name: wobble; 
         }

.content {
	/*margin-top: -1px;*/
	width: 960px;
	margin: auto;
	margin-top: 20px;
	/*width: 100%;*/
	/*background-color: #dddddd;*/
	
	/*border-bottom: 6px teal solid;*/
	/*vertical-align: top;*/
	/*padding-left: 96px;*/
	/*border-bottom: 6px teal solid;*/
	/*padding-left: 5px;
	padding-right: 5px;*/

}

#aboutbox {
	width:650px;
	display: inline-block;
	border: 1px solid gray;
	background-color: #ffffff;
	margin-bottom: 20px;
}

#aboutme {
	margin:10px;
	color:#4aaaa5;
	font-size: 28px;
	font-family: serif;
}

#miniaboutbox {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
}

#hr1 {
	color:#cccccc;
	margin-right: 12px;
	margin-left: 12px;
}

.aboutboxchild { 
	margin-right: 10px;
	margin-left: 10px;

	 }

#connectbox {
	/*min-width: 20%;*/
	width: 269px;
	float: right;
	/*margin-top: 20px;*/
	margin-left: 10px;
	/*position: fixed;*/
	display: inline-block;
	vertical-align: top;
	/*margin:70px;*/
	border: 1px solid gray;
	background-color: white;
	padding-bottom: 10px;
	/*padding-left: 20px;
	padding bottom: 20px;
	margin-left: 65px;
	margin-top: 20px;*/
	/*padding:10px;*/
}

#billburr {
	color: #4aaaa5;
}

#header2 {
	font-size: 25px;
	font-family: times;
	padding-left: 47px;
	color:#4aaaa5;
	margin-bottom: 5px;
	margin-top: 5px;
}
#hr2 {
	margin-right: 30px;
	margin-left: 30px;
	color:#4aaaa5;
}

.footer {
	width: 100%;
	background-color: #666;
	color:#bbb4a6;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	border-top: 6px teal solid;
}

#copyright {
	vertical-align: middle;
}
		
		/* place holder images obviously adjust the url() to fix them */
#github {
	height:55px;
	width:55px;
	/*margin: auto;*/
	margin-right: 3px;
	margin-left:22px;
	margin-bottom: 10px;
	/*background-image: url(assets/images/ol_github.png);*/
	background-size: 50px 50px;
	padding-left: 15px;
	
}

#link {
	height:55px;
	width:55px;
	/*margin: auto;*/
	margin-right: 3px;
	margin-bottom: 10px;
	/*background-image: url(assets/images/ol_linkedin.png);*/
	background-size: 50px 50px;
	/*border:none;*/
}

		
#stackoverflow {
	height:55px;
	width:55px;
	margin-bottom: 10px;
	/*margin: auto;*/
	/*background-image: url(assets/images/ol_stackoverflow-social-media.png);*/
	background-size: 50px 50px;
	/*border:none;*/
}


/* duplicate of aboutbox for contact form */
#contactbox {
	/*max-width: 65%;*/
	/*width:650px;
	display: inline-block;
	border: 1px solid gray;
	background-color: #ffffff;
	margin-left: :225px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: -15px; */
	width:649px;
	display: inline-block;
	border: 1px solid gray;
	background-color: #ffffff;
	margin-bottom: 20px;
	
}

/* duplicate of aboutme for contact form */
#contact {
	margin:10px;
	margin-bottom: 15px;
	color:#4aaaa5;
	font-size: 32px;
	font-family: serif;
}

form {
  /* Just to center the form on the page */
  width: 648px;

  /* To see the limits of the form */
  padding: 1em;
  /*border: 1px solid #CCC;
  border-radius: 1em;*/
  margin-top: -8px;
}

.formchild {
	/*margin-right: 40px;
	margin-left: -10px;*/
}

/*div + div {
  margin-top: 1em;
}*/

label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 99px;
  width: 10%;
  text-align: right;
  color:#cccccc;
  font-family: arial;
  font-size: 23px;
  margin-bottom: 10px;
 /* margin-right: 15px;*/

}

input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  font: 1em sans-serif;
   color:#cccccc;
  width: 94%;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-block;
}

#msg {
	padding-bottom: 125px;
}

#name, #mail {
	margin-bottom: -10px;
}

#submit {
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #4aaaa5;
	color: white;
	font-size: 20px;
	font-family: serif;
	margin-top: -28px;
	margin-right: 15px;

}

/*Portfolio CSS Begins*/

#portfoliobox {
	/*max-width: 65%;*/
	width:650px;
	display: inline-block;
	border: 1px solid gray;
	background-color: #ffffff;
	/*margin-left: :225px;*/
	/*margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: -15px;*/ 
}

/* duplicate of aboutme for contact form */
#portfolio {
	margin:10px;
	color:#4aaaa5;
	font-size: 28px;
	font-family: serif;
}

.port {
	/*margin-left: 35px;*/
	/*display: inline-block;*/
	width: 100%;
	margin: auto;
	margin-bottom: 8px;
	/*margin-left: 37px;*/
	/*padding-left: 1px; 
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-right: 1px;
	margin-left:1px;
	margin-top :1px;
	margin-bottom: 1px;*/

}

.portchild {
	/*display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	background: green;
	padding-bottom: 80%;*/
	/*min-width: 20%;*/
	width:650px;
	/*position: fixed;*/
	display: inline-block;
	vertical-align: top;
	/*margin:70px;*/
	border: 1px solid gray;
	background-color: white;
	padding-left: 20px;
	padding bottom: 20px;
	margin-left: 65px;
	margin-top: 20px;
	/*padding:10px;*/
}

.portbackchild {
	position: relative;
	display: inline-block;
	background-image: url(../images/profile_1.png);
	width: 44%;
	height: 135px;
	margin: auto;
	margin-bottom: 7px;
	margin-left: 21px;
	/*vertical-align: center;*/
	/*padding-left: 1px; 
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-right: 1px;
	margin-left:1px;
	margin-top :1px;
	margin-bottom: 1px;*/
}

.portbuttons {
	/*display: inline-block;*/
	/*padding-right: 100px;
	padding-left: 100px;*/
	background-color: #4aaaa5;
	color: white;
	font-size: 20px;
	padding: 14px;
	margin: auto;
	margin-top: 25%;
	width: 100%;
	font-family: serif;
	/*margin-top: -28px;
	margin-right: 15px;*/
}

#portbutton1 {
	/*display: inline-block;*/
	margin-right: 5px;

}

#portbutton2 {
	display: inline-block;

}

#portbutton3 {
	display: inline-block;
	margin-right: 5px;


}

#button3 {
	/*margin-left: 2px;*/
}

#portbutton4 {
	display: inline-block;

}

#portbutton5 {
	display: inline-block;
	margin-right: 5px;

}